body {
  display: flex;
  flex-direction: column;
    background: lightblue;
}

.canvas {
    background: #fff;
    margin: 20px;
}

.grid {

    display: grid;
    border: 1px solid black;
    width: 400px;
    height: 400px;
  }
  
.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
    
    background-color: white;
}

/*.hoveringBlack {
  background-color: black !important;
}

.hoveringYellow {
  background-color: yellow !important;
}

.delete {
  background-color: white !important;
} */

.size-options {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.options {
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: center;
  font-style: italic;
}